 <!-- Display expenses -->
 <div class="container mt-4">
    <h2 class="text-center">Inventory</h2>
    
    <% if (Inventory && Inventory.length > 0) { %>
      <!-- Card for displaying first and last name -->
      <div class="card mb-4">
        <div class="card-body text-center">
          <h5 class="card-title">Name: <%= Inventory[0].farmer.first_name %> <%= Inventory[0].farmer.last_name %></h5>
        </div>
      </div>
  
      <!-- Table for displaying expenses -->
    <div class="container mt-8 text-center"></div>
      <table class="table table-striped mt-4 text-center">
        <thead>
          <tr>
            <th style="padding: 10px;">Product Name</th>
            <th style="padding: 10px;">Quantity</th>
            <th style="padding: 10px;">Date</th>
          </tr>
        </thead>
        <tbody>
          <% Inventory.forEach(item => { %>
            <tr>
              <td style="padding: 10px;"><%= item.product_name %></td>
              <td style="padding: 10px;"><%= item.harvest.quantity_in_bundles %></td>
              <td style="padding: 10px;"><%= item.harvest.date %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      </div>
    <% } else { %>
      <p class="text-center">No expenses found.</p>
    <% } %>
  </div>