 <!-- Display expenses -->
 <div class="container mt-4">
    <h2 class="text-center">Inventory</h2>
    
    <% if (Inventory && Inventory.length > 0) { %>
      <!-- Card for displaying first and last name -->
      <div class="card mb-4">
        <div class="card-body text-center">
          <h5 class="card-title">Name: <%= Inventory[0].farmer.first_name %> <%= Inventory[0].farmer.last_name %></h5>
        </div>
      </div>
  
      <!-- Table for displaying expenses -->
      <table class="table table-striped mt-4 text-center">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>harvest_id</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% Inventory.forEach(item => { %>
            <tr>
              <td><%= item.product_name %></td>
              <td><%= item.harvest.quantity_in_bundles %></td>
              <td><%= item.harvest.date %></td>
              <td><%= item.harvest.harvest_id %></td>
              <td style="padding: 10px;">
                <a
                  class="btn btn-outline-primary"
                  href="<%= '/seller/' + item.farmer.farmer_id + '/editInventory/' %>"
                  >Edit</a>
                <a
                  class="btn btn-outline-danger"
                  href="<%= '/seller/' + item.harvest.harvest_id + '/deleteInventory' %>"
                  >Delete</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      </div>
    <% } else { %>
      <p class="text-center">No expenses found.</p>
    <% } %>
  </div>